.container {
	background-color: #faf0f0;
	padding: 1rem 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.logo {
	height: 150%;
	width: auto;
	object-fit: contain;
	cursor: pointer;
}

.link {
	text-decoration: none;
	color: #000000;
	font-family: "Poppins", sans-serif;
	font-size: 1.1rem;
	font-weight: 500;
	cursor: pointer;
	transition: opacity 0.2s;
}

.link:hover {
	opacity: 0.7;
}
